In [2]:
import pandas as pd

m_store = pd.read_csv("m_store.csv", header=0)
m_store

     store_id store_name area_cd
0           1        昭島店      TK
1           2      あきる野店      TK
2           3        足立店      TK
3           4       北千住店      TK
4           5        綾瀬店      TK
..        ...        ...     ...
192       193        桐生店      GU
193       194        高崎店      GU
194       195        館林店      GU
195       196        前橋店      GU
196       999       保守担当      TK

[197 rows x 3 columns]

In [3]:
m_area = pd.read_csv("m_area.csv", header=0)
m_area

  area_cd wide_area narrow_area
0      TK        東京          東京
1      KN       神奈川         神奈川
2      CH        千葉          千葉
3      SA        埼玉          埼玉
4      IB       北関東          茨城
5      TO       北関東          栃木
6      GU       北関東          群馬

In [4]:
tbl_order_4 = pd.read_csv("tbl_order_202004.csv", header=0)
tbl_order_4

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,79339111,49,C26387220,50,67393872,2020-04-01 11:00:00,2020-04-01 11:18:00,1,4144,1
1,18941733,85,C48773811,26,91834983,2020-04-01 11:00:00,2020-04-01 11:22:00,0,2877,2
2,56217880,76,C66287421,36,64409634,2020-04-01 11:00:00,2020-04-01 11:15:00,0,2603,2
3,28447783,190,C41156423,19,73032165,2020-04-01 11:00:00,2020-04-01 11:16:00,0,2732,2
4,32576156,191,C54568117,71,23281182,2020-04-01 11:00:00,2020-04-01 11:53:00,0,2987,2
...,...,...,...,...,...,...,...,...,...,...
233255,25546308,3,C24617924,46,3700904,2020-04-30 21:58:58,2020-04-30 22:19:58,0,2615,2
233256,91693481,45,C68997855,6,37852755,2020-04-30 21:58:58,2020-04-30 22:13:58,0,2732,2
233257,57908119,36,C16123702,81,90372382,2020-04-30 21:58:58,2020-04-30 22:47:58,0,2363,2
233258,7145625,174,C80733640,75,48265986,2020-04-30 21:58:58,2020-04-30 22:32:58,0,2238,2
233259,31301192,151,C23758178,9,13847510,2020-04-30 21:58:58,2020-04-30 22:52:58,0,1900,2

In [5]:
tbl_order_5 = pd.read_csv("tbl_order_202005.csv", header=0)
tbl_order_5

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,24742472,22,C90731046,22,80308413,2020-05-01 11:00:00,2020-05-01 11:22:00,1,2328,1
1,11342919,56,C68678177,12,35725624,2020-05-01 11:00:00,2020-05-01 11:50:00,0,2987,2
2,76451864,56,C79630016,46,2609869,2020-05-01 11:00:00,2020-05-01 11:32:00,0,2603,2
3,28392539,192,C83895707,80,17111162,2020-05-01 11:00:00,2020-05-01 11:19:00,0,2603,2
4,71706591,121,C36584528,93,22800835,2020-05-01 11:00:00,2020-05-01 11:17:00,0,2877,2
...,...,...,...,...,...,...,...,...,...,...
241134,47039360,154,C39765066,90,27121351,2020-05-31 21:58:58,2020-05-31 22:42:58,1,2363,1
241135,61054188,94,C19465010,41,61513298,2020-05-31 21:58:58,2020-05-31 22:40:58,0,2112,2
241136,45288914,11,C23883838,40,65359139,2020-05-31 21:58:58,2020-05-31 22:38:58,0,3838,2
241137,41608372,149,C48350551,43,42138977,2020-05-31 21:58:58,2020-05-31 22:52:58,0,1899,2
241138,40316733,169,C49087342,61,59737067,2020-05-31 21:58:58,2020-05-31 22:08:58,0,3901,2

In [ ]:
order_all = pd.concat([tbl_order_4, tbl_order_5], ignore_index=True)